.main-chat
  .main-chat__header
    .group-items
      .group-items__name
        = @group.name
      .group-items__member
        Member : 
        - @group.users.each do |user|
          = user.name 
    = link_to "Edit", edit_group_path(@group), class:"edit-btn"
  .main-chat__messages
    = render partial: "message", collection: @messages
  .main-chat__footer
    -# %form.new_message
    = form_for [@group, @message] do |f|
      .message-form
        = f.text_field :body, class: 'message-form__input', placeholder: 'type a message'
        = f.label :image, class: 'message-form__image' do
          =icon('fas', 'image')
          = f.file_field :image
      = f.submit 'Send', class: 'send-btn'