.side-bar
  .side-bar__header
    .user-items
      .user-items__name
        = current_user.name
      .user-items__icons
        = link_to new_group_path, class: "edit-icon" do
          = icon('far', 'edit')
          %span<>
        = link_to edit_user_path(current_user.id), class: "cog-icon" do
          = icon('fas', 'cog')
  .side-bar__groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__group--name
            = group.name
          .group__group--message-info
            まだメッセージがありません